body{
  background-image: url(https://images.unsplash.com/photo-1599457524356-39d68bfae7b8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OTV8fGFjdGl2aXR5fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60); 

background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
margin-top: 160px;
  
}
p{
  
}
button{
  border:none;
  padding:20px;
  background: rgb(121,124,114);
  background: radial-gradient(circle, rgba(121,124,114,1) 0%, rgba(121,124,114,0.21474527310924374) 100%);
  color:#ccc5aa;
  font-size: 30px;
  font-family: 'IM Fell DW Pica SC', serif;
}
button:hover {
  background-color:#25281d
}
p{
  font-family: 'IM Fell DW Pica SC', serif;
  font-size: 35px;
}